@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: '仿宋', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

::-webkit-scrollbar {
    display: none;
}

.max-w-\[1024px\] {
    max-width: 100% !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: "仿宋";
    src: local("仿宋"), url(/assets/font/HanZiZhiMeiFangSongGBK-MianFei.ttf) format("truetype");
}




